{
  "variables": {
    "password": "",
    "connection_password": "vagrant"
  },
  "builders": [
{% for bldr in tpl.builders %}
    {
      "type": "{{ bldr.type }}",
{% if bldr.iso_url is defined %}
      "iso_url": "{{ bldr.iso_url }}",
{% endif %}
      "ssh_username": "{{ bldr.connection_username }}",
      "ssh_timeout": "15m",
      "ssh_password": "{% raw %}{{user `connection_password`}}{% endraw %}",
      "http_directory": "http",
      "boot_wait": "5s",
      "memory": "{{ bldr.memory }}",
      "iso_checksum": "{{ bldr.iso_checksum_type }}:{{ bldr.iso_checksum }}",
      "boot_command": [
{% for line in bldr.boot_cmd_lines %}
        "{{ line }}"{% if loop.index != bldr.boot_cmd_lines | length %},{% endif %}

{% endfor %}
      ],
{% if bldr.type == 'proxmox' %}
{% if bldr.iso_file is defined %}
      "iso_file": "/mnt/iso/{{ bldr.iso_file }}",
{% endif %}
      "cores": "{{ bldr.cores }}",
      "vga": { "type": "qxl" },
      "proxmox_url": "https://{{ bldr.host }}:8006/api2/json",
      "insecure_skip_tls_verify": true,
      "username": "{{ bldr.username }}",
      "password": "{% raw %}{{user `password`}}{% endraw %}",
      "node": "{{ bldr.node }}",
      "scsi_controller": "virtio-scsi-pci",
      "cpu_type": "host",
      "network_adapters": [
{% for nic in bldr.nics %}
        {
          "model": "{{ nic.model }}",
          "bridge": "{{ nic.bridge }}"
        }{% if loop.index != bldr.nics | length %},{% endif %}

{% endfor %}
      ],
      "disks": [
{% for disk in bldr.disks %}
        {
          "type": "{{ disk.type }}",
          "disk_size": "{{ disk.size }}",
          "storage_pool": "{{ disk.pool }}",
          "storage_pool_type": "{{ disk.pool_type }}",
          "format": "{{ disk.format }}"
        }{% if loop.index != bldr.disks | length %},{% endif %}

{% endfor %}
      ],
      "iso_storage_pool": "isostore",
      "unmount_iso": true,
      "template_name": "{{ tpl.name }}",
      "template_description": "{{ tpl.description }}"
{% elif bldr.type == 'qemu' %}
{% if bldr.iso_file is defined %}
      "iso_url": "/mnt/iso/{{ bldr.iso_file }}",
{% endif %}
      "headless": true,
      "vnc_bind_address": "0.0.0.0",
      "vnc_port_min": 5950,
      "vnc_port_max": 5950,
      "winrm_password": "{% raw %}{{user `ssh_password`}}{% endraw %}",
      "winrm_timeout": "15m",
      "winrm_username": "{{ bldr.connection_username }}",
      "output_directory": "output",
      "accelerator": "kvm",
      "shutdown_command": "shutdown /s /t 10 /f /d p:4:1 /c \"Packer Shutdown\"",
      "disk_size": "{{ bldr.disks[0].size }}",
      "format": "{{ bldr.disks[0].format }}",
      "vm_name": "{{ tpl.name }}",
      "net_device": "virtio-net",
      "disk_interface": "virtio",
      "cpus": "{{ bldr.cores }}",
      "floppy_files": [
        "http/Autounattend.xml"
{% for file in bldr.floppy_files %}
        "{{ file }}"{% if loop.index != bldr.boot_cmd_lines | length %},{% endif %}

{% endfor %}
      ],
      "qemuargs": [
        [ "-drive", "file=output/{% raw %}{{ .Name }}{% endraw %},if=virtio,cache=writeback,discard=ignore,format=qcow2,index=1" ],
        [ "-drive", "file=/mnt/iso/virtio-win.iso,media=cdrom,index=3" ]
      ]
{% endif %}
    }{% if loop.index != tpl.builders | length %},{% endif %}

{% endfor %}
  ]
}
