version: 1
{% if network_settings.config is defined %}
{{ network_settings | to_yaml }}
{% else %}
config:
    - type: physical
      name: enp6s18
      subnets:
      - type: dhcp4
    - type: nameserver
      address:
      - "{{ defaults.net_config.dns_server }}"
      search:
      - "{{ defaults.net_config.search_domain }}"
{% endif %}